.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay-table {
    position: absolute;
    top: 164px;
    left: 128px;
  }
  .table-background{
    background-color: black;
}